.noto-font{
    font-family: "Noto Serif", serif;
}
.inter-font{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* navbar design */
.navbar{
    padding-top: 20px;
}
.navbar ul{
    list-style: none;
    gap: 30px;
    margin-right: 30px;
}
.navbar ul a{
    text-decoration: none;
}
.cart{
    text-decoration: none;
}
/* banner */
.banner{
    margin: 100px 0;
}

.banner-description{
   
   /* align-self: end;
   justify-self: start; */
   place-self: end start;
}
.banner > img{
    /* align-self: end;
    justify-self: end; */
    place-self: end end;
    height: 100%;
    width: 100%;
}
.banner h1{
    font-size: 60px;
}
.banner p{
    margin-top: 10px;
    font-size: 22px;
}

/* Our Plants */
.plants > .grid{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 30px;

}
.our-plants h3{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.our-plants p{
    padding: 0 6rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.plant-card{
    overflow: hidden;
}
.card p{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.5rem;
}
.card h6{
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}


/* seller-info */
.seller{
    margin-top: 7rem;
}
.seller-info > .flex{
    gap: 80px;
}

.seller-images{
    position: relative;  
}


.trusted-badge{
    position: absolute;
    top: -80px;
    left: 100%;
    transform: translateX(-60%);
    width: 40%;
}
.flower-store{
    flex: 1;
    width: 100%;
    height: auto;
}
.seller-details{
    flex: 1;
    align-self: center;
}
.seller-details h3{
    font-size: 3rem;
    
}
.seller-details ul{
    font-size: 1.2rem;
    
}
.seller-details ul li{
    margin-top : 1.2rem;
    
}

/* Latest Deals */

/* Utilities */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
    overflow: auto;
}
.text-center{
    text-align: center;
}
.card img{
    width: 100%;
    height: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
.btn-primary{
    font-size: 1rem;
    width: 100%;
    padding: 1rem 0;
    border: none;
    color: white;
    font-weight: 500;
    background-color: var(--primary-color);
}
:root{
    --primary-color : #E95A08;
}


/* Responsive */
@media (max-width : 576px) {
    .navbar{
        padding: 10px 15px;
    }
    .navbar ul{
        display: none;
    }
    .container{
        padding: 0px;
    }
    .banner{
        margin :20px 0;
    }
    .banner > img{
        
        height: 100%;
        width: 100%;
        grid-area: first;
    }
    .banner > .banner-description{
        grid-area: second;
        padding: 0px 15px;
        margin-top: 25px;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "first"
        "second"
         ;
    }
    .banner h1{
    font-size: 3rem;
    }
    .banner p{
        margin-top: 10px;
        font-size: 1rem;
    }

}